<div>
    <div class="loading">Loading</div>
    <h1>Add Product</h1>
    <input type="text" class="product-name" placeholder="Enter Product Name" />
    <input type="number" class="product-price" placeholder="Enter Product Price"/>
    <button class="submit-btn">Add Product</button>
    <h1>Product List</h1>
    <ul class="product-list">
    {{#each products}}                   
        <li id="{{_id}}"> {{name}} - {{price}} 
            <a href class="delete-item" data-id="{{_id}}">🗑</a>
        </li>
    {{/each}}
    </ul>
</div>
<script>
    $(document).ready(() => {
        $(".loading").hide();
       
        $(document).on("click", ".delete-item", function (e) {
            e.preventDefault();
            const id = $(this).data("id");
            console.log(id);
            
            $.ajax({
                url: `/api/products/${id}`,
                method: "DELETE"
            }).then(result=> $(`#${id}`).remove());
        })

        $(".submit-btn").on("click", ()=> {
            $(".loading").show();
            const name = $(".product-name").val().trim();
            const price = $(".product-price").val().trim();
            $.ajax({
                method: "POST",
                url: "/api/products/new",
                data: {name, price}
            }).then((data)=> {
                $(".loading").hide();
                const html = `<li>${data.name} - ${data.price} 🗑</li>`;
                $(".product-list").append(html);
            });
        });
    });
</script>